.jfx-toggle-node {
	-fx-background-radius: 20;
	-jfx-toggle-color: pink;
}

.jfx-toggle-node .jfx-rippler{
	-jfx-rippler-fill: pink;
}

.otherMonthDay {
	-fx-text-fill: #797979;
	-fx-opacity: 0.2;
}

.unselectedDay {
	-fx-text-fill: #797979;
}

.jfx-button {
	-fx-background-radius: 0;
}